version: '3.8'

services:
  mysql:
    image: mysql:5.7
    container_name: mysql_sgh
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: sgh_db
      MYSQL_USER: sghuser
      MYSQL_PASSWORD: sghpassword
    ports:
      - "3306:3306"
    volumes:
      - ./db:/docker-entrypoint-initdb.d
      - mysql_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin_sgh
    restart: always
    ports:
      - "8081:80"
    environment:
      PMA_HOST: 127.0.0.1
      PMA_USER: root
      PMA_PASSWORD: rootpassword
    depends_on:
      - mysql

volumes:
  mysql_data:
